@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  color: white;
}

ul li{
  display:inline-block;
  padding-left: 0.5rem
}

.main-container {
  @apply flex min-h-screen flex-1 flex-col items-center bg-dark-1 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
}

nav.with-shadow {
  border-bottom: 1px solid rgba(155, 189, 227, 0.354);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}

.topbar {
  @apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-2 bg-opacity-70 px-6 py-3;
}

.leftsidebar {
  @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-dark-4 bg-dark-2 pb-5 pt-28 max-md:hidden;
}

.leftsidebar_link {
  @apply relative flex justify-start gap-4 rounded-lg p-4;
}

.rightsidebar {
  @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-dark-4 bg-dark-2 px-10 pb-6 pt-28 max-xl:hidden;
}

.btn {
  @apply rounded-3xl bg-primary-500 px-8 py-2 !text-small-regular text-light-1 max-xs:w-full !important;
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}